html,
body {

	
	margin: 0;
	padding: 0;
	 background: #ffffff url("../img/barbershop-shop.jpg") no-repeat 50% 0px;
	background-size: 1200px auto;
	font-family: "PT Sans Narrow" ,"Arial";
	font-size: 14px;
	line-height:24px;
	color: #000000;
	font-weight: bold;
	text-transform:uppercase ;
	

}
.text {
	margin:0;
	
}

.block-photo {
	display:block;
	
}

.text-hidden {
	display: none;
	
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
	   background-color:#000000;
	
}

.main-header-layout {
  display: flex;
  justify-content: space-between;
	min-height:72px;
	align-items:center;
	
	
}

.main-header-layout a{
	text-decoration: none;
	color:white;
	font-size: 16px;
	line-height:20px;
	
}

.main-navigation {
  width: 690px;
	display: flex;
	justify-content: space-between;
	

  /* Только для оформления сетки */
  
}

.main-navigation ul {
	padding:0;
	display: flex;
	width:505px;
	justify-content: space-between;
	list-style: none;
	margin-right:16px;
	
	
}


.logo-header {
	margin-left:18px;
	
}


.user-block {
  width: 75px;
	text-align:right;
	margin-right:21px;
	
	
	

  /* Только для оформления сетки */
  
}
.user-block a{
	display:block;
	background:  url("../img/entericon.png") no-repeat 10px  50%;
	
}
