html,
body {

	
	margin: 0;
	padding: 0;
	 background: #ffffff url("../img/barbershop-shop.jpg") no-repeat 50% 0px;
	background-size: 1200px auto;
	font-family: "PT Sans Narrow" ,"Arial";
	font-size: 14px;
	line-height:24px;
	color: #000000;
	font-weight: bold;
	text-transform:uppercase ;
	

}
.text {
	margin:0;
	
}

.text-hidden {
	display: none;
	
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-layout {
  display: flex;
  justify-content: space-between;
}


.main-navigation {
  width: 780px;
	display: flex;
	justify-content: space-around;
	align-content:flex-end;

  /* Только для оформления сетки */
  min-height: 72px;
}

.main-navigation ul {
	display: flex;
	width:540px;
	justify-content: space-around;
	align-content:center;
}

.user-block {
  width: 140px;

  /* Только для оформления сетки */
  min-height: 70px;
}
